<!DOCTYPE html>
<html>
<head>
    <title>Hola Mundo</title>
    <style>
        *{
            display: flexbox;
        }
        body {
            background-color: lightblue;
            justify-content: center;

        }
        h1,h2,h3 {
            color: navy;
            margin-left: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
    </style>
</head>
<body>
    <div>
        <h1>Jesus Antonio Ramirez Hernandez</h1>
        <h2>20210700</h2>
        <h3>Tarea 05/06/2024 </h3>
        <br><br>

        <h1>Extraccion de conocimiento en bases de datos</h1>
    </div>
</body>
</html>
